choice/target/classes/choice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="choiceFlow1"/>
    <flow name="choiceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/choice" doc:name="HTTP"/>
        <set-session-variable variableName="method" value="#[message.inboundProperties'http method']" doc:name="Session Variable"/>
        <logger message="#[sessionVars.method]" level="INFO" doc:name="Logger"/>
        <choice tracking:enable-default-events="true" doc:name="Choice">
            <when expression="#[sessionVars.method=='GET'}">
                <logger message="this is get" level="INFO" doc:name="GET Logger"/>
            </when>
            <when expression="#[sessionVars.method=='POST&quot;}">
                <logger message="THIS IS POST" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="THIS IS OTHER" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <set-payload value="#[sessionVars.method]" doc:name="Set Payload"/>
    </flow>
</mule>
